@mixin categories-title-style($color){
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 8vw;
	font-weight: 900;
	letter-spacing: 0.4px;
	color: $color;
	margin: 0px;
}

home-page {
	$categories-heading-image-height: 150px; 
	$categories-grid-padding: 10px;
	$categories-horizontal-list-padding: 10px;

			.listing-header
			{
				.header-logo
				{
					width: 34vw;
				}
			}
			.weight-info-icon{
					color: green;
				font-size: 3.2rem;
				margin-top: -14px;
				margin-left: 40%;
			}
			.weight-info-h{
					color: green;
				font-size: 3rem;
				margin-top: -12px;
			}

			.water-button{
					background-color: $theme-color-1;
					color:$white;
			}

			// .number-info-item{
			// 	margin-left:10px;
			// }
		.center-item{
			text-align: center;

			h1{
				font-size: 4rem;
			}
		}
	.listing-content
	{   
         .logo-image{
             max-width: 85% !important;
         }
				.choose-category-button
				{ 
					background-color: $white;
					
                     ion-icon {
							font-size: 3em;
                            color: white;
						}

                        .button-inner {
                        color:white;
                        }
				}

		.image-heading
		{
			height: $categories-heading-image-height;

			.bg-overlay
			{
				z-index: 1;
				background-color: rgba($black-c, .6);
			}

			ion-spinner {
				z-index: 2;
			}

			@include spinner-color($white);

			.heading-row
			{
				height: 100%;
				z-index: 3;
  			position: absolute;
				@include align-items(center);

				.main-title
				{
					@include categories-title-style($white);
					font-size: 10vw;
				}
			}
		}

		.categories-title
		{
			font-size: 1.2rem;
			font-weight: 400;
			letter-spacing: 0.7px;
			color: $white-d;
			margin: 8px 16px 16px;
		}

		.horizontal-categories
		{
			border-bottom: 0px solid $white-a;
			// @include element-shadow();
			padding-bottom: 16px;
			text-align: center;
			.scroll-content
			{
				position: relative;
			}

			preload-image {
				border-radius: 50%;

				img	{
					border-radius: 50%;
				}
			}

			.categories-row
			{
				&::after{
					content: '';
					flex: 0 0 $categories-horizontal-list-padding;
			    max-width: $categories-horizontal-list-padding;
				}
			}

			.horizontal-item
			{
				padding: 0px 0px 0px $categories-horizontal-list-padding;
			}
		}

		.grid-categories
		{
			padding: 0px ($categories-grid-padding/2);
			@include flex-wrap(wrap);

			.category-item
			{
				padding: 0px ($categories-grid-padding/2) $categories-grid-padding;

				.category-heading
				{
					padding-bottom: 100%;

					.bg-overlay
					{
						//z-index: 1;
						//background-color: white;
					}

					ion-spinner {
						z-index: 2;
					}

					@include spinner-color($white);

					.heading-row
					{
						height: 100%;
						z-index: 3;
		  			position: absolute;
						@include align-items(center);

						.category-title
						{
							@include categories-title-style($white);
						}
					}
				}
			}
		}
	}
}
