<ion-content padding>

  <ion-row>
    <ion-col>
      <img src="assets/images/Fittingo_Logo.png" />
    </ion-col>
  </ion-row>

  <ion-list>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label floating primary>Email</ion-label>
        <ion-input [(ngModel)]="userInfo.email" formControlName="email" type="text" id="email" spellcheck="false" autocapitalize="off">
        </ion-input>
      </ion-item>
      <p *ngIf="!isValid('email')" color="danger" padding-left>Geçersiz Email</p>
      <ion-item>
        <ion-label floating primary>Şifre</ion-label>
        <ion-input  [(ngModel)]="userInfo.password" formControlName="password" type="password" id="password" spellcheck="false" autocapitalize="off">
        </ion-input>
      </ion-item>
      <p *ngIf="!isValid('password')" color="danger" padding-left>Geçersiz Şifre</p>

      <button ion-button type="submit" block primary [disabled]="!myForm.valid">Giriş</button>
    </form>
  </ion-list>

<button ion-button type="button" (click)="OpenSignupPage()" block>Kaydol</button>

</ion-content>