<ion-header class="login-header auth-header">
  <ion-navbar>
    <ion-title>Giriş</ion-title>
  </ion-navbar>
</ion-header>
<!--<ion-row>
    <ion-col>
      <img src="assets/images/Fittingo_Logo.png" />
    </ion-col>
  </ion-row>-->

<ion-content class="login-content auth-content">
  <img src="assets/images/Fittingo_Logo.png" />
  <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="doLogin()">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <show-hide-container>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password" show-hide-input></ion-input>
      </ion-item>
    </show-hide-container>
    <button ion-button block class="auth-action-button login-button" type="submit" [disabled]="!login.valid">Giriş</button>
  </form>
  <ion-row class="alt-options">
    <ion-col no-padding width-50>
      <!--<button ion-button block clear class="forgot-button" (click)="goToForgotPassword()">Forgot Password?</button>-->
    </ion-col>
    <ion-col no-padding width-50>
      <button ion-button block clear class="signup-button" (click)="OpenSignupPage()">Kaydol!</button>
    </ion-col>
  </ion-row>
  <!--<p class="auth-divider">
    Or
  </p>
  <button ion-button block class="facebook-auth-button" (click)="doFacebookLogin()">Log in with Facebook</button>
  <button ion-button block class="google-auth-button" (click)="doGoogleLogin()">Log in with Google</button>-->
</ion-content>


<!--<ion-content padding>

  <ion-row>
    <ion-col>
      <img src="assets/images/Fittingo_Logo.png" />
    </ion-col>
  </ion-row>

  <ion-list>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label floating primary>Email</ion-label>
        <ion-input [(ngModel)]="userInfo.email" formControlName="email" type="text" id="email" spellcheck="false" autocapitalize="off">
        </ion-input>
      </ion-item>
      <p *ngIf="!isValid('email')" color="danger" padding-left>Geçersiz Email</p>
      <ion-item>
        <ion-label floating primary>Şifre</ion-label>
        <ion-input  [(ngModel)]="userInfo.password" formControlName="password" type="password" id="password" spellcheck="false" autocapitalize="off">
        </ion-input>
      </ion-item>
      <p *ngIf="!isValid('password')" color="danger" padding-left>Geçersiz Şifre</p>

      <button ion-button type="submit" block primary [disabled]="!myForm.valid">Giriş</button>
    </form>
  </ion-list>

<button ion-button type="button" (click)="OpenSignupPage()" block>Kaydol</button>

</ion-content>-->