
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
  .toast {
   text-align:center;
  }

.listitem:hover div {
  background-color: lightgrey;
  cursor: pointer;
}